<h1>{{vm.title}}</h1>

<div class="content">
	<br/>
	<p ng-class="{'alert alert-info' : vm.message.length}">{{vm.message}}</p>
	<form>
		<div class="form-group">
			<input type="text" name="firstName" class="form-control" value="" placeholder="First Name" ng-model="vm.data.firstName" required />
		</div>
		
		<div class="form-group">
			<input type="text" name="lastName" class="form-control" value="" placeholder="Last Name" ng-model="vm.data.lastName" required />
		</div>
		
		<div class="form-group">
			<input type="text" name="department" class="form-control" value="" placeholder="Department" ng-model="vm.data.department" required />
		</div>
		
		<datepicker class="form-group" date-format="MM/dd/yyyy">
			<input type="text" name="startDate" class="form-control" value="" placeholder="Start Date" ng-model="vm.data.startDate" required />
		</datepicker>
		
		<div class="form-group">
			<input type="text" name="jobTitle" class="form-control" value="" placeholder="Job Title" ng-model="vm.data.jobTitle" required />
		</div>
		
		<div class="form-group">
			<input type="text" name="salary" class="form-control" value="" placeholder="Salary" ng-model="vm.data.salary" required />
		</div>
		
		<input type="submit" class="btn btn-default" value="Submit" ng-click="vm.submit()" />
	</form>
</div>