extends layout

block content
	h1= title
	h2= message
	form#productForm(action="", method="post", role="form")
		.form-group
			input#product.form-control(name="product" placeholder="Product" required)
		.form-group
			input#description.form-control(name="description" placeholder="Description")
		.form-group
			input#price.form-control(name="price" placeholder="Price" required)
		button.btn.btn-default(type="submit") Add Product