extends layout

block content
	h1= title
	table.table
		thead
			tr
				th Product
				th Description
				th Price
		tbody
		- each product in results
			tr
				td= product.product
				td= product.description
				td= product.price