extends layout

block content
	h1= title
	form(action="/form", method="post", role="form")
		.form-group
			input#name.form-control(name="name" placeholder="Name")
		.form-group
			input#email.form-control(name="email" placeholder="Email")
		.form-group
			textarea#comments.form-control(name="comments" placeholder="Comments")
		button.btn.btn-default(type="submit") Submit