doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= title
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
	body
		.navbar.navbar-default
			.container
				#navbar-main
					.nav.navbar-nav
						li 
							a(href='/') Home
						li
							a(href='/about') About
						li
							a(href='/form') Form
						
		.container
			block content
		script(src='/bootstrap/dist/js/bootstrap.min.js')
		