extends layout

block content
	h1= title
	h2#message= message
	form#employeeForm(action="/", method="post", role="form")
		.form-group
			input#firstName.form-control(name="firstName" placeholder="First Name" required)
		.form-group
			input#lastName.form-control(name="lastName" placeholder="Last Name" required)
		.form-group
			input#department.form-control(name="department" placeholder="Department" required)
		.form-group
			input#startDate.form-control.datepicker(name="startDate" placeholder="Start Date" required)
		.form-group
			input#jobTitle.form-control(name="jobTitle" placeholder="Job Title" required)
		.form-group
			input#salary.form-control(name="salary" placeholder="Salary" required)
		button.btn.btn-default(type="submit") Add New Employee
		
		